<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="testing.sample" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="junit" version="4.12.0"/>
<unit id="org.assertj.core" version="3.5.2"/>
<unit id="org.hamcrest.core.source" version="1.3.0"/>
<unit id="org.assertj.core.source" version="3.5.2"/>
<unit id="org.mockito.core.source" version="1.10.19.20160621"/>
<unit id="org.mockito.core" version="1.10.19.20160621"/>
<unit id="org.hamcrest.core" version="1.3.0"/>
<unit id="junit.source" version="4.12.0"/>
<unit id="org.apache.commons.lang3.source" version="3.4.0"/>
<unit id="org.objenesis.source" version="2.1.0"/>
<unit id="org.apache.commons.lang3" version="3.4.0"/>
<unit id="javax.xml.parsers.jaxp-api" version="1.4.5"/>
<unit id="javax.xml.parsers.jaxp-api.source" version="1.4.5"/>
<unit id="org.objenesis" version="2.1.0"/>
<repository location="http://localhost:8080/tycho.sample.osgi.additional"/>
</location>
</locations>
</target>
